*{
  margin: 0;
  padding: 0;
}
body
{
  background-image: url(https://images.unsplash.com/photo-1486870591958-9b9d0d1dda99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  background-size: auto;
  background-position: center
  font-family: sans-seriff;
}

.login-page
{
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
}
.Form
{
  position: relative;
  z-index: 1;
  background: #000
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}
.form input
{
  outline: none;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button
{
  text-transform: uppercase;
  outline: 0;
  background: orange;
  width: 100%;
  height: 4%;
  border: none;
  padding: 15px
  color #fff;
  font-size: 14px;
  cursor: pointer;
  transition: .5s;
}
.form button:hover,.form button:active
{
  background:green;
  border: none;
}
.form .message
{
  margin: 15px p p;
  color: #fff;
  font-size: 12px;
}
.form .message a
{
  color: orange;
  text-decoration: none;
}
.register-Form{
  display: none;
}
